.weather-container{
	background: #CCC;
	text-align: center;

}

.name{
	font-size: large;
	font-weight: bold;
	margin: 0;
}

.temp{
	font-size: 60px;
	margin: 0;
	font-weight: bold;

}

.weather{
	font-size: 22px;
	margin:0;
}

.icon {
	text-align: center;


}
